:root {
    --global-background: #1d1f21;
    --font-color-1: #81a2be;
    --font-color-2: #b5bd68;
    --font-color-3: #cc6666;
    --line-number-color: #969896;
    --progress-bar-color: #f0c674;
    --footer-background-color: #282b2e;
    --footer-color: #ffffffaa;
    --footer-color-hover: #ffffff60;
}

/* link: https://fonts.google.com/specimen/Ubuntu+Mono */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url(../fonts/UbuntuMono-Regular.ttf);
}

/* link: https://fonts.google.com/specimen/Courier+Prime */
@font-face {
    font-family: 'Courier Prime';
    src: url(../fonts/CourierPrime-Regular.ttf);
}

body {
    background-color: var(--global-background);
    font-family: 'Ubuntu Mono';
}

html, body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#progess-bar {
    top: 0;
    position: fixed;
    height: 5px;
    background-color: var(--progress-bar-color);
}

#visualizer {
    flex: 1;
    margin: 1em 0 1em 0;
    white-space: nowrap;
}

#visualizer > div {
    counter-increment: line;
}

#visualizer > div::before {
    content: counter(line);
    color: var(--line-number-color);
    font-size: 13px;
    text-align: right;
    display: inline-block;
    width: 1.5em;
    margin: 0 1.5em 0 .6em;
    user-select: none;
}

[id^=digit-] {
    font-size: 14px;
    letter-spacing: 0.04em; 
}

#digit-1 { color: var(--font-color-1); }

#digit-2 { color: var(--font-color-2); }

#digit-3 { color: var(--font-color-3); }

.footer {
    flex: 0;
    padding-bottom: 5px;
    font-family: 'Courier Prime';
    color: var(--footer-color);
    text-align: center;
    font-size: 13px;
    background-color: var(--footer-background-color);
}

.footer > hr {
    width: 60%;
}

.footer > .title {
    font-size: 15px;
    padding: 3px 0 4px 0;
}

.footer > a {
    color: var(--footer-color);
}

.footer > a:hover {
    color: var(--footer-color-hover);
}

.rainbow-heart {
    text-indent: 8px;
    color: hsl(calc(360deg * var(--char-percent)), 90%, 65%);
    animation: rainbow 2s linear infinite;
    animation-delay: calc(-2s * var(--char-percent));
}

@keyframes rainbow {
    0% { color: hsl(0turn, 90%, 65%); }
    25% { color: hsl(.25turn, 90%, 65%); }
    50% { color: hsl(.5turn, 90%, 65%); }
    75% { color: hsl(.75turn, 90%, 65%); }
    100% { color: hsl(1turn, 90%, 65%); }
}